{% extends 'base.html' %} {% block content %}

<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Search NFTs</h1>
      <p class="lead fw-normal text-white-50 mb-0">Find your NFT!</p>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <center>
      <div class="col-10">
        <p align="justify"></p>

        <div class="card">
          <div class="card-header">Search NFTs</div>
          <div class="card-body">
            <form method="POST" action="{% url 'search' %}">
              {% csrf_token %}
              <div class="mb-3">
                <input
                  type="text"
                  class="form-control"
                  name="searched"
                />

              </div>
              <button type="submit" class="btn btn-secondary"> Search</button>
             
               
            </form>
            <br>
            {% if searched %}
                {% for product in searched %}
               {{product}}
               <br>
               {% endfor %}
           
            <br>


            {% endif %}


          </div>
        </div>

        
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
      
        <br />
        <br />
      </div>
    </center>
  </div>
</div>

{% endblock %}
